@charset "utf-8";

body, header, section, footer, div, p, ul, li, img, span, button, h1, h2, h3, option, select {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #333333;
    display: block;
}
ul {
    list-style: none;
}
img {
    display: block;
}
body {
    width: 100%;
    height: 100nh;
    background: #ffffff;
    color: #333333;
    font-size: 14px;
}
/* 기본세팅 */



.main {
    width: 100%;
    height: 700px;
    position: relative;
    display: flex;
}

.main>header {
    width: 200px;
    height: 100%;
}
.main>header>h1 {
    width: 200px;
    height: 100px;
}
.main>header>h1>a {
    width: 200px;
    height: 100px;
    padding: 27.5px 5px;
    box-sizing: border-box;
}

.main>header>.navbar {
    width: 180px;
    margin: 0 auto;
}
.main>header>.navbar>ul {
    width: 180px;
}
.main>header>.navbar>ul>li {
    width: 180px;
}
.main>header>.navbar>ul>li>a {
    width: 180px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 0 7px;
    box-sizing: border-box;
}
.main>header>.navbar>ul>li:hover>a {
    background: #ff9000;
    color: #fff;
}
.main>header>.navbar>ul>li>.sub {
    width: 180px;
    display: none;
}
.main>header>.navbar>ul>li>.sub>li {
    width: 180px;
}
.main>header>.navbar>ul>li>.sub>li>a {
    width: 180px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 0 15px;
    box-sizing: border-box;
}
.main>header>.navbar>ul>li>.sub>li:hover>a {
    background: #ff9000;
    color: #fff;
}




.main>.contents {
    width: 400px;
    height: 100%;
}
.main>.contents>.tab {
    width: 400px;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}
.main>.contents>.tab>a {
    width: 100px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #333;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1;
}
.main>.contents>.tab>ul {
    position: absolute;
    top: 39px;
    width: 380px;
    height: 251px;
    box-sizing: border-box;
    padding: 10px;
    border-top: 1px solid #333;
}

.main>.contents>.notic>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main>.contents>.notic>ul>li>a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    border-bottom: 1px solid #999;
}
.main>.contents>.gallery>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.main>.contents>.gallery>ul>li>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
.main>.contents>.gallery>ul>li img {
    margin-bottom: 10px;
}

.main>.direct {
    width: 400px;
    height: 100px;
}
.main>.contents>.direct>ul {
    width: 400px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.main>.contents>.direct>ul>li {}
.main>.contents>.direct>ul>li>a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main>.contents>.direct>ul>li img {
    width: 50px;
    height: auto;
    object-fit: cover;
    margin-bottom: 5px;
}




.main>.slidebox {
    width: 100%;
    height: 700px;
    overflow: hidden;
}
.main>.slidebox>.slide {
    width: 100%;
    height: 2100px;
    position: relative;
}
.main>.slidebox>.slide>li>a {
    width: 100%;
    height: 700px;
    position: relative;
    background: #000;
}
.main>.slidebox>.slide>li>a>img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    opacity: 0.7;
}
.main>.slidebox>.slide>li>a>span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

.popup_bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    z-index: 10000;
    display: none;
}
.popup_bg>.popup {
    width: 450px;
    height: 300px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup_bg>.popup>h2 {
    font-size: 24px;
    padding: 7px 10px;
    border-bottom: 1px solid #333;
}
.popup_bg>.popup>p {
    width: 450px;
    height: 253px;
    padding: 10px 15px;
    line-height: 24px;
    box-sizing: border-box;
}
.popup_bg>.popup>button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 2px 5px;
}




footer {
    width: 100%;
    height: 100px;
    background-color: #eee;
    display: flex;
}
footer>h3 {
    width: 200px;
    height: 100px;
}
footer>h3>a {
    width: 200px;
    height: 100px;
    padding: 27.5px 5px;
    box-sizing: border-box;
}
footer>.copy {
    width: 100%;
    height: 100px;
    padding: 41px 20px;
    box-sizing: border-box;
}
footer>.familly_site {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer>.familly_site>#familly {
    width: 150px;
}