@charset "utf-8";

body, div, section, header, p, img, h1, h2, h3, nav, ul, li, span {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    display: block;
    color: #333;
}
img {
    display: block;
    background: #eee;
}
/* 기본 설정 */

body {
    width: 100%;
    background: #ffffff;
    color: #333;
    font-size: 14px;
}

.main {
    width: 100%;
    height: 850px;
}

.main_container {
    width: 100%;
    height: 850px;
    display: flex;
}
header {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header>h1 {
    width: 200px;
    height: 120px;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
header>h1>span {
    color: coral;
}
header>nav {
    width: 180px;
    margin-bottom: 30px;
}
header>nav>ul {
    width: 180px;
}
header>nav>ul>li {
    width: 180px;
}
header>nav>ul>li>a {
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    background: #fff;
    padding: 0 7px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-bottom: 0px;
}
header>nav>ul>li:last-child>a {
    border-bottom: 1px solid #999;
}
header>nav>ul>li:last-child:hover>a {
    border-bottom: 0px;
}
header>nav>ul>li:hover>a {
    background: coral;
    color: #fff;
}
header>nav>ul>li>.sub {
    width: 180px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-bottom: 0px;
    display: none;
}
header>nav>ul>li:last-child>.sub {
    border-bottom: 1px solid #999;
}
header>nav>ul>li>.sub>li {
    width: 180px;
    height: 30px;
}
header>nav>ul>li>.sub>li>a {
    width: 180px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    padding: 0 10px;
    box-sizing: border-box;
}
header>nav>ul>li>.sub>li:hover>a {
    background: rgb(255, 153, 116);
    color: #fff;
}

.spot_menu {
    width: 200px;
}
.spot_menu>div {
    width: 200px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
/* 해더 끝 */



.contents {
    width: calc(100% - 200px);
    height: 850px;
}

.slides {
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.slide {
    width: 100%;
    height: 400px;
    position: relative;
}
.slide>li>a {
    width: 100%;
    height: 400px;
    position: relative;
}
.slide>li>a>img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.slide>li>a>span {
    color: #fff;
    font-size: 42px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thumbnail {
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
}
.thumbnail>ul>li img {
    width: 150px;
    height: 100px;
}
.slide1 img {
    background: cadetblue;
}
.slide2 img {
    background: crimson;
}
.slide3 img {
    background: darksalmon;
}
/* 슬라이드 끝 */


.banner {
    width: 100%;
    height: 200px;
    padding: 10px 15px;
    box-sizing: border-box;
}
.banner>.banner_box {
    width: 100%;
    height: 180px;
    position: relative;
}
.banner>.banner_box>img {
    width: 100%;
    height: 180px;
    background: wheat;
}
.banner>.banner_box>ul {
    position: absolute;
    top: 40px;
    left: 70px;
}
.banner>.banner_box>ul h2 {
    margin-bottom: 5px;
}
.banner>.banner_box>ul p {
    width: 70%;
}
.banner>.banner_box>ul button {
    font-size: 150px;
    line-height: 100px;
    background: none;
    border: none;
    position: absolute;
    bottom: -10px;
    right: 20px;
}
/* 배너 끝 */



.content_bottom {
    width: 100%;
    height: 250px;
    padding: 10px 15px;
    box-sizing: border-box;
}
.tabs {
    display: flex;
    position: relative;
}
.tabs>.tab>a {
    width: 100px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #999;
    border-bottom: 0px;
    box-sizing: border-box;
    background: coral;
    position: relative;
    z-index: 10;
}
.tabs>.tab.active>a {
    background: #fff;
}
.tabs>.tab>ul {
    width: 100%;
    height: 201px;
    padding: 10px 30px;
    border: 1px solid #999;
    box-sizing: border-box;
    position: absolute;
    top: 29px;
    left: 0;
}
.tabs>.tab>.notic {
    width: 100%;
    height: 201px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.notic>li>a {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    line-height: 26px;
    border-bottom: 1px dotted #999;
}
.notic>li>a>span:last-child {
    width: 130px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: none;
}
.gallery>li>a>img {
    width: 200px;
    height: 150px;
}
/* 탭 끝 */



.popup {
    width: 400px;
    height: 300px;
    background: #fff;
    padding: 15px 10px;
    border: 1px solid #999;
    box-sizing: border-box;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.popup>h3 {
    font-size: 20px;
    line-height: 28px;
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
}
.popup>p {
    padding: 10px;
    line-height: 20px;
}
.popup>button {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
/* 모달 끝 */



footer {
    width: 100%;
    height: 100px;
    display: flex;
}
footer>.footer_logo {
    width: 200px;
    height: 100px;
    font-size: 28px;
    line-height: 100px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}
footer>.copy {
    width: calc(100% - 200px - 300px);
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}
footer>.sns {
    width: 300px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
footer>.sns img {
    width: 60px;
    height: 60px;
}